<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <%= link_to 'Northern', root_path, class: "navbar-brand" %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

      <% if user_signed_in? %>

        <div class="navbar-form navbar-right">
          <%= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE', class: 'btn btn-warning' %>
        </div>

      <% else %>

        <div class="navbar-form navbar-right">
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-success' %>
        </div>

       <% end %>

    </div>
  </div>
</nav>
